/* General */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

:root{
    --color-purple: #9593e6;
    --color-blue: rgb(0, 128, 245);
    --color-lightblue: rgb(166, 218, 252);
}

/* Useful Classes */
.col{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}
.align-center{
    align-items: center;
}

.blue-background{
    background-color: var(--color-blue);
}

.light-blue-background{
    background-color: var(--color-lightblue);
}

.blue-text{
    color: var(--color-blue);
}

.purple-background{
    background-color: var(--color-purple);
}

.white-text{
    color: white;
}
.white-background{
    background-color: white;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 60px 40px;
    row-gap: 30px;
}

.button{
    display: flex;
    width: fit-content;
    padding: 10px 50px;
    line-height: normal;
    border-radius: 20px;
    align-items: center;
    font-weight: 700;
    column-gap: 10px;
}


.black-text{
    color: black;
}

/* Header */
.nav-bar{
    min-height: 7vh;
    width: 100%;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    font-size: 1.7rem;
    position: fixed;
    z-index: 1;
}

.nav-bar i{
    filter: invert(1);
}

.nav-bar a{
    display: none;
}

/* Main */

main{ /*Debug */
    padding-top: 7vh;
    
}

/* First Section */
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 40px;
    row-gap: 25px;
    line-height: 30px;
    margin-bottom: 30px;
}
.card > h2 > i{
    font-size: 100px;
}
.card:first-child{
    padding-bottom: 0;
}

#first-section .card h2{
    color: var(--color-blue);
    font-weight: 700;
}

#first-section .card img{
    width:100%;
}


/* Second Section */
#second-section img{
    width: 80%;
    align-self: center;
}


#second-section .card .button{
    border-radius: 50%;
    padding: 20px;
}

/* Third Section */
#third-section h1{
    font-size: 2.5rem;
    color: var(--color-purple);
}
#third-section .container > h3{
    font-weight: 400;
}

#third-section img{
    width: 100%;
    align-self: center;
    clip-path: circle(39%);
    z-index: 0;
}

#third-section .card p{
   font-size: 1.3rem;
   text-align: center;
}

/* Fourth Section */
#fourth-section h1{
    font-size: 2.5rem;
}
#fourth-section .card > h1, #fourth-section .card > h2{
    color: var(--color-purple);
}
#fourth-section .card{
    align-items: flex-start;
}

/* Fifth Section */
#fifth-section h1{
    font-size: 2.5rem;
    color: var(--color-purple);
}

#fifth-section .container > p{
    font-size: 1.2rem;
}
.fifth-section-image-container{
    width: 50%;
    position: relative;
    font-size: 5.5rem;
}


.fifth-section-image-container img{
    border-radius: 50%;
    width: 100%;
}

.fifth-section-image-container i{
    position: absolute;
    right: -5%;
    top: -5%;
    color: var(--color-purple);
}

.about-us-quote p{
    color: var(--color-purple);
    font-size: 1.8rem;
    font-weight: 700;
}

#sixth-section .container > h1{
    font-size: 5rem;
    color: rgb(255,181,97);
}

#sixth-section .container > h3{
    font-weight: 400;
}
#sixth-section .container > .button{
    color: var(--color-purple);
    padding: 30px 90px;
    border-radius: 50px;
    font-size: 1.3rem;
    font-weight: 400;
}

.copyright-infos > span > a{
    color: white;
}

/* Footer */
footer > .container{
    background-color: rgb(45, 45, 45);
    color: white;
    row-gap: 70px;
}
footer > .container > p{
    text-align: center;
}

footer > .container > p > a{
    color: var(--color-purple);
}
























